<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="footer-top">
          <h2 class="logo-title">
            <a href="{{site.baseurl}}/" class="logo-text">Java Bahia</a>
          </h2>
          <div class="top"><i class="ion ion-ios-arrow-up"></i></div>
        </div>
        <div class="footer-bottom">
          <div class="copyright">
            <p>&copy; {{site.time | date: '%Y'}} Crafted & Designed by <a href="https://github.com/artemsheludko">Artem Sheludko</a></p>
            <p>&copy; {{site.time | date: '%Y'}} Adapted with love by <a href="twitter.com/antonio_lazaro/">Antonio Lazaro (Popete)</a></p>
          </div>
          <div class="footer-social">
            <ul class="list-reset">
              {% if site.facebook %}
              <li><a href="{{ site.facebook }}">Facebook</a></li>
              {% else %} {% endif %}

              {% if site.twitter %}
              <li><a href="{{ site.twitter }}">Twitter</a></li>
              {% else %} {% endif %}

              {% if site.youtube %}
              <li class="social-profiles-item">
                <a href="{{ site.youtube }}">Youtube</i></a>
              </li>
              {% else %} {% endif %}
        
              {% if site.rss %}
              <li class="social-profiles-item">
                <a href="{{ site.rss }}">RSS</a>
              </li>
              {% else %} {% endif %}
        
              {% if site.podcast %}
              <li class="social-profiles-item">
                <a href="{{ site.podcast }}">Podcast</a>
              </li>
              {% else %} {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> <!-- /.footer -->